.toc-tree > ul > li > a,
.toc-tree > ul > li > ul > li > a {
    font-weight: 700;
}

.toc-tree {
    --toc-spacing-horizontal: 0.75rem;
    --toc-item-spacing-horizontal: 0.5rem;
}

.toc-tree a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
